html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
}

#map{ height: 66% }

.container {
  margin: 0 auto;
  width: 100%;
  height: 34%;
  padding: 20px 50px;
  box-sizing: border-box;
  color: #333;
  background: #333;
  vertical-align: middle;
}

.slick-slider {
  text-align: center;
  color: #419be0;
  background: black;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
  width: 100%;
}

.slick-slide {
  margin: 0px 10px;
}

.slick-slider img {
  cursor: pointer;
}
