<div class="card">
    <div class="flexing">
        <div class="thumbnail" style="background-image: url('{{ post.image  | relative_url }}');"></div> 
        <div class="info">
            <p class="title">{{ post.title }}</p>
            <p class="date">{{ post.date | date: "%B %-d, %Y"}}</p>
            <p class="desc">{{ post.description }}</p>
            <div class="cat">
                {% for skill in post.skills %}
                    <div class="background">
                        <p class="skill">{{ skill }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a href="{{ post.permalink | relative_url }}" class="overlay">
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 6em; color: #FFFFFF;">
                <i class="fas fa-book-open" title="Website"></i>
            </div>
        </a>
    </div>
</div>




<!--
<div class="card">
    <div class="postimg" style="background-image: url('{{ post.thumbnail  | relative_url }}'); background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="info">
            <p class="title">{{ post.title }}</p>
            <p class="date">{{ post.date | date: "%B %-d, %Y"}}</p>
            <p class="desc">{{ post.desc }}</p>
            <div class="cat">
                {% for skill in post.skills %}
                    <div class="background">
                        <p class="skill">{{ skill }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a href="{{ post.url | relative_url }}" class="overlay">
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 6em; color: #FFFFFF;">
                <i class="fas fa-book-open" title="Website"></i>
            </div>
        </a>
    </div>
</div>
-->