<style>
  .desc p {
    margin: 0px;
    text-align: left;
  }
  
  .content .details {
    padding: 15px 0px 14px 0px;
  }
  
  .details {
    padding: 15px 0px 14px 0px;
  }
  
  .buttons {
    width: 100%;
    height: 24px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;
  }
  
  .inline_button {
    display: inline-block;
    width: calc(25% - 4px);
    margin: 0 auto;
  }
</style>

<div class="show clearfix layout layout-top-middle col-xs-12 col-sm-6 col-md-4 col-print-12">
  <div class="content">
    <a href="#{{ include.item.id }}" class="projectdetails" style="cursor: pointer;">
      <span class="thumbnail-img" style="background-image: url({{ include.item.thumbnail | relative_url }});"></span>
      <span class="gif-img" style="background-image: url({{ include.item.gif | relative_url }})"></span>
      <div class="details">
        {%- if include.item.name -%}<p style="font-style: normal; font-weight: bold;">{{ include.item.name }}</p>{%- endif -%}
        {%- if include.item.link or include.item.github  or include.item.paper  or include.item.poster -%}
          <div class="buttons">
            {%- if include.item.link -%}
              {% include a.html href=include.item.link class="link inline_button" %}Website</a>
            {%- endif -%}
            {%- if include.item.github -%}
              <p class="no-print inline_button">
                <a href="https://github.com/{{ include.item.github }}" target="_blank">
                  <i class="fa fa-github" title="{{ include.item.name }} Github link"></i>
                </a>
              </p>
            {%- endif -%}
            {%- if include.item.paper -%}
              <!--<a class="link inline_button" href="{{ include.item.report }}" download>Report</a>-->
              {% include a.html href=include.item.paper class="link inline_button" %}Paper</a>
            {%- endif -%}
            {%- if include.item.poster -%}
              <a class="link inline_button" href="{{ include.item.poster }}" download>Poster</a>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </a>
  </div>
</div>

<div class="clearfix layout layout-top-middle white-popup mfp-hide" id="{{ include.item.id }}">
  <span class="thumbnail-img" style="height: 300px; background-image: url({{ include.item.thumbnail | relative_url }});"></span>
  <div class="details">
    {%- if include.item.name -%}<h4 style="font-style: normal; font-weight: bold;">{{ include.item.name }}</h4>{%- endif -%}
    {%- if include.item.link or include.item.github  or include.item.paper or include.item.poster -%}
      <div class="buttons">
        {%- if include.item.link -%}
          {% include a.html href=include.item.link class="link inline_button" %}Website</a>
        {%- endif -%}
        {%- if include.item.github -%}
          <p class="no-print inline_button">
            <a href="https://github.com/{{ include.item.github }}" target="_blank">
              <i class="fa fa-github" title="{{ include.item.name }} Github link"></i>
            </a>
          </p>
        {%- endif -%}
        {%- if include.item.paper -%}
          {% include a.html href=include.item.paper class="link inline_button" %}Paper</a>
        {%- endif -%}
        {%- if include.item.poster -%}
          <a class="link inline_button" href="{{ include.item.poster }}" download>Poster</a>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
  <div class="desc">
    {%- if include.item.quote -%}
      <p class="quote">{{ include.item.quote }}</p>
    {%- endif -%}
    {{ include.item.description | strip | markdownify }}
  </div>  
</div>

<script>
  $('.projectdetails').magnificPopup({
    type:'inline',
    midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
  });
</script>