<div class="container">
  <div class="slick-slider" id="ALL" style="display: block;">
	  <a href="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9157.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9157.jpg' | relative_url }}" alt="1" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2472.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2472.jpg' | relative_url }}" alt="2" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_7463.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_7463.jpg' | relative_url }}" alt="3" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0008-1.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0008-1.jpg' | relative_url }}" alt="4" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1212.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1212.jpg' | relative_url }}" alt="5" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Bryce Canyon/DSC_9890.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Bryce Canyon/DSC_9890.jpg' | relative_url }}" alt="6" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 30, 10 05 39 AM.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 30, 10 05 39 AM.jpg' | relative_url }}" alt="7" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2685.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2685.jpg' | relative_url }}" alt="8" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9860.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9860.jpg' | relative_url }}" alt="9" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Canyonlands/DSC_0059.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Canyonlands/DSC_0059.jpg' | relative_url }}" alt="10" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9306.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9306.jpg' | relative_url }}" alt="11" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2666.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2666.jpg' | relative_url }}" alt="12" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 30, 10 07 05 AM.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 30, 10 07 05 AM.jpg' | relative_url }}" alt="13" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1164.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1164.jpg' | relative_url }}" alt="14" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Congaree/DSC_1909.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Congaree/DSC_1909.jpg' | relative_url }}" alt="15" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9414.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9414.jpg' | relative_url }}" alt="16" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Mount Rainier/IMG_0060.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Mount Rainier/IMG_0060.jpg' | relative_url }}" alt="17" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2074.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2074.jpg' | relative_url }}" alt="18" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Canyonlands/DSC_0053.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Canyonlands/DSC_0053.jpg' | relative_url }}" alt="19" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 28, 2 06 04 PM.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 28, 2 06 04 PM.jpg' | relative_url }}" alt="20" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0581.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0581.jpg' | relative_url }}" alt="21" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8553.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8553.jpg' | relative_url }}" alt="22" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_7924.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_7924.jpg' | relative_url }}" alt="23" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9830.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9830.jpg' | relative_url }}" alt="24" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Mount Rainier/IMG_0067.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Mount Rainier/IMG_0067.jpg' | relative_url }}" alt="25" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2320.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2320.jpg' | relative_url }}" alt="26" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0033.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0033.jpg' | relative_url }}" alt="27" height=100%>
    </a>
    <a href= "{{ '/assets/NationalParksGallery/photos/Bryce Canyon/IMG_0581.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Bryce Canyon/IMG_0581.jpg' | relative_url }}" alt="28" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9613.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9613.jpg' | relative_url }}" alt="29" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8214.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8214.jpg' | relative_url }}" alt="30" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0010-1.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0010-1.jpg' | relative_url }}" alt="31" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2386.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2386.jpg' | relative_url }}" alt="32" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0565.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0565.jpg' | relative_url }}" alt="33" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9289.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9289.jpg' | relative_url }}" alt="34" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8169.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8169.jpg' | relative_url }}" alt="35" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1383.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1383.jpg' | relative_url }}" alt="36" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2602.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2602.jpg' | relative_url }}" alt="37" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Rocky Mountain/IMG_0488.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Rocky Mountain/IMG_0488.jpg' | relative_url }}" alt="38" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9635.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9635.jpg' | relative_url }}" alt="39" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2022.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2022.jpg' | relative_url }}" alt="40" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_9933.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_9933.jpg' | relative_url }}" alt="41" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8583F.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8583F.jpg' | relative_url }}" alt="42" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0503.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0503.jpg' | relative_url }}" alt="43" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2405.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2405.jpg' | relative_url }}" alt="44" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9647.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9647.jpg' | relative_url }}" alt="45" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1492.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1492.jpg' | relative_url }}" alt="46" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9680.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9680.jpg' | relative_url }}" alt="47" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1462.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1462.jpg' | relative_url }}" alt="48" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_7834.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_7834.jpg' | relative_url }}" alt="49" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0531.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0531.jpg' | relative_url }}" alt="50" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Capitol Reef/IMG_0565.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Capitol Reef/IMG_0565.jpg' | relative_url }}" alt="51" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9123.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9123.jpg' | relative_url }}" alt="52" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2747.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2747.jpg' | relative_url }}" alt="53" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2423.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2423.jpg' | relative_url }}" alt="54" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9222.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9222.jpg' | relative_url }}" alt="55" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Mount Rainier/IMG_0002.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Mount Rainier/IMG_0002.jpg' | relative_url }}" alt="56" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_8498.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_8498.jpg' | relative_url }}" alt="57" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9188.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9188.jpg' | relative_url }}" alt="58" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2523.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2523.jpg' | relative_url }}" alt="59" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9191.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9191.jpg' | relative_url }}" alt="60" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2628.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2628.jpg' | relative_url }}" alt="61" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="SHEN" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Shenandoah/white_oak.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Shenandoah/white_oak.jpg' | relative_url }}" alt="white_oak" height=100%>
    </a>
  </div>  
  
  <div class="slick-slider" id="MORA" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Mount Rainier/IMG_0002.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Mount Rainier/IMG_0002.jpg' | relative_url }}" alt="IMG_0002" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Mount Rainier/IMG_0060.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Mount Rainier/IMG_0060.jpg' | relative_url }}" alt="IMG_0060" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Mount Rainier/IMG_0067.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Mount Rainier/IMG_0067.jpg' | relative_url }}" alt="IMG_0067" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Mount Rainier/rainier.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Mount Rainier/rainier.jpg' | relative_url }}" alt="rainier" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Mount Rainier/instagram_rainier.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Mount Rainier/instagram_rainier.jpg' | relative_url }}" alt="instagram_rainier" height=100%>
    </a>
  </div>  
  
  <div class="embeddedYoutube" id="BISC" style="display: none; text-align: center;">
    <a href="https://www.youtube.com/embed/o1sJB5HSGeI">
    	<iframe id="BISC-video" height="100%" src="https://www.youtube.com/embed/o1sJB5HSGeI" frameborder=0 allow="fullscreen" enablejsapi=1;></iframe>
    </a>
  </div>  
    
  <div class="slick-slider" id="ARCH" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_9955.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_9955.jpg' | relative_url }}" alt="DSC_9955" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0010-1.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0010-1.jpg' | relative_url }}" alt="DSC_0010-1" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0033.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0033.jpg' | relative_url }}" alt="DSC_0033" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_9994.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_9994.jpg' | relative_url }}" alt="DSC_9994" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_9950.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_9950.jpg' | relative_url }}" alt="DSC_9950" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0008-1.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0008-1.jpg' | relative_url }}" alt="DSC_0008-1" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_9933.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_9933.jpg' | relative_url }}" alt="DSC_9933" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/Photo May 25, 4 12 37 AM.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/Photo May 25, 4 12 37 AM.jpg' | relative_url }}" alt="Photo May 25, 4 12 37 AM" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_9938.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_9938.jpg' | relative_url }}" alt="DSC_9938" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/IMG_0546.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/IMG_0546.jpg' | relative_url }}" alt="IMG_0546" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0007-1.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0007-1.jpg' | relative_url }}" alt="DSC_0007-1" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0028.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/DSC_0028.jpg' | relative_url }}" alt="DSC_0028" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Arches/IMG_0555.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Arches/IMG_0555.jpg' | relative_url }}" alt="IMG_0555" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="SEQU" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9613.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9613.jpg' | relative_url }}" alt="DSC_9613" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 30, 10 07 05 AM.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 30, 10 07 05 AM.jpg' | relative_url }}" alt="Photo Jul 30, 10 07 05 AM" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 28, 2 06 04 PM.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 28, 2 06 04 PM.jpg' | relative_url }}" alt="Photo Jul 28, 2 06 04 PM" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9666.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9666.jpg' | relative_url }}" alt="DSC_9666" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Aug 01, 12 36 37 PM.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Aug 01, 12 36 37 PM.jpg' | relative_url }}" alt="Photo Aug 01, 12 36 37 PM" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9529.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9529.jpg' | relative_url }}" alt="DSC_9529" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 29, 6 43 13 PM.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 29, 6 43 13 PM.jpg' | relative_url }}" alt="Photo Jul 29, 6 43 13 PM" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9644.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9644.jpg' | relative_url }}" alt="DSC_9644" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9647.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9647.jpg' | relative_url }}" alt="DSC_9647" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9680.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9680.jpg' | relative_url }}" alt="DSC_9680" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9654.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9654.jpg' | relative_url }}" alt="DSC_9654" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/IMG_5102.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/IMG_5102.jpg' | relative_url }}" alt="IMG_5102" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 30, 10 05 39 AM.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Jul 30, 10 05 39 AM.jpg' | relative_url }}" alt="Photo Jul 30, 10 05 39 AM" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Aug 01, 1 23 08 PM.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/Photo Aug 01, 1 23 08 PM.jpg' | relative_url }}" alt="Photo Aug 01, 1 23 08 PM" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9635.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9635.jpg' | relative_url }}" alt="DSC_9635" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9543.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Sequoia/DSC_9543.jpg' | relative_url }}" alt="DSC_9543" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="BRCA" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Bryce Canyon/DSC_9890.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Bryce Canyon/DSC_9890.jpg' | relative_url }}" alt="DSC_9890" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Bryce Canyon/DSC_9927.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Bryce Canyon/DSC_9927.jpg' | relative_url }}" alt="DSC_9927" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Bryce Canyon/DSC_9902.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Bryce Canyon/DSC_9902.jpg' | relative_url }}" alt="DSC_9902" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Bryce Canyon/DSC_9889.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Bryce Canyon/DSC_9889.jpg' | relative_url }}" alt="DSC_9889" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Bryce Canyon/IMG_0581.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Bryce Canyon/IMG_0581.jpg' | relative_url }}" alt="IMG_0581" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="WHSA" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0542.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0542.jpg' | relative_url }}" alt="DSC_0542" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0581.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0581.jpg' | relative_url }}" alt="DSC_0581" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_7463.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_7463.jpg' | relative_url }}" alt="DSC_7463" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0483.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0483.jpg' | relative_url }}" alt="DSC_0483" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0531.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0531.jpg' | relative_url }}" alt="DSC_0531" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0503.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0503.jpg' | relative_url }}" alt="DSC_0503" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0565.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/White Sands/DSC_0565.jpg' | relative_url }}" alt="DSC_0565" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/White Sands/white_sands_margaret.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/White Sands/white_sands_margaret.jpg' | relative_url }}" alt="white_sands_margaret" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="GRCA" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9188.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9188.jpg' | relative_url }}" alt="DSC_9188" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9200.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9200.jpg' | relative_url }}" alt="DSC_9200" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9128.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9128.jpg' | relative_url }}" alt="DSC_9128" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9123.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9123.jpg' | relative_url }}" alt="DSC_9123" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9222.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9222.jpg' | relative_url }}" alt="DSC_9222" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9157.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9157.jpg' | relative_url }}" alt="DSC_9157" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9191.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9191.jpg' | relative_url }}" alt="DSC_9191" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="KICA" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Kings Canyon/Photo Aug 04, 10 52 11 AM.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Kings Canyon/Photo Aug 04, 10 52 11 AM.jpg' | relative_url }}" alt="Photo Aug 04, 10 52 11 AM" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Kings Canyon/DSC_9498.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Kings Canyon/DSC_9498.jpg' | relative_url }}" alt="DSC_9498" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="CARE" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Capitol Reef/IMG_0565.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Capitol Reef/IMG_0565.jpg' | relative_url }}" alt="IMG_0565" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="DEVA" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2747.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2747.jpg' | relative_url }}" alt="DSC_2747" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_8524.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_8524.jpg' | relative_url }}" alt="DSC_8524" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_8523.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_8523.jpg' | relative_url }}" alt="DSC_8523" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2685.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2685.jpg' | relative_url }}" alt="DSC_2685" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2696.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2696.jpg' | relative_url }}" alt="DSC_2696" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2666.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2666.jpg' | relative_url }}" alt="DSC_2666" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_8498.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_8498.jpg' | relative_url }}" alt="DSC_8498" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2628.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2628.jpg' | relative_url }}" alt="DSC_2628" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_8516.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_8516.jpg' | relative_url }}" alt="DSC_8516" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_8528.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_8528.jpg' | relative_url }}" alt="DSC_8528" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2602.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Death Valley/DSC_2602.jpg' | relative_url }}" alt="DSC_2602" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="ROMO" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Rocky Mountain/IMG_0474.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Rocky Mountain/IMG_0474.jpg' | relative_url }}" alt="IMG_0474" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Rocky Mountain/IMG_0488.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Rocky Mountain/IMG_0488.jpg' | relative_url }}" alt="IMG_0488" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Rocky Mountain/IMG_0469.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Rocky Mountain/IMG_0469.jpg' | relative_url }}" alt="IMG_0469" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="SAGU" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2022.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2022.jpg' | relative_url }}" alt="DSC_2022" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_7834.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_7834.jpg' | relative_url }}" alt="DSC_7834" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_7924.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_7924.jpg' | relative_url }}" alt="DSC_7924" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2079.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2079.jpg' | relative_url }}" alt="DSC_2079" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2052.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2052.jpg' | relative_url }}" alt="DSC_2052" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2103.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2103.jpg' | relative_url }}" alt="DSC_2103" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2074.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2074.jpg' | relative_url }}" alt="DSC_2074" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2100.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_2100.jpg' | relative_url }}" alt="DSC_2100" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_7861.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Saguaro/DSC_7861.jpg' | relative_url }}" alt="DSC_7861" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="CONG" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Congaree/DSC_1909.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Congaree/DSC_1909.jpg' | relative_url }}" alt="DSC_1909" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Congaree/DSC_1980.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Congaree/DSC_1980.jpg' | relative_url }}" alt="DSC_1980" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Congaree/DSC_1966.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Congaree/DSC_1966.jpg' | relative_url }}" alt="DSC_1966" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Congaree/DSC_1958.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Congaree/DSC_1958.jpg' | relative_url }}" alt="DSC_1958" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Congaree/DSC_1963.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Congaree/DSC_1963.jpg' | relative_url }}" alt="DSC_1963" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="CANY" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Canyonlands/DSC_0053.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Canyonlands/DSC_0053.jpg' | relative_url }}" alt="DSC_0053" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Canyonlands/DSC_0069.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Canyonlands/DSC_0069.jpg' | relative_url }}" alt="DSC_0069" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Canyonlands/DSC_0072.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Canyonlands/DSC_0072.jpg' | relative_url }}" alt="DSC_0072" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Canyonlands/DSC_0059.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Canyonlands/DSC_0059.jpg' | relative_url }}" alt="DSC_0059" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="ZION" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9835.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9835.jpg' | relative_url }}" alt="DSC_9835" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9823.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9823.jpg' | relative_url }}" alt="DSC_9823" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9830.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9830.jpg' | relative_url }}" alt="DSC_9830" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9841.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9841.jpg' | relative_url }}" alt="DSC_9841" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9847.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9847.jpg' | relative_url }}" alt="DSC_9847" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9860.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9860.jpg' | relative_url }}" alt="DSC_9860" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9829.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Zion/DSC_9829.jpg' | relative_url }}" alt="DSC_9829" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="JOTR" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8120.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8120.jpg' | relative_url }}" alt="DSC_8120" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8045.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8045.jpg' | relative_url }}" alt="DSC_8045" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8553.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8553.jpg' | relative_url }}" alt="DSC_8553" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8169.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8169.jpg' | relative_url }}" alt="DSC_8169" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8151.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8151.jpg' | relative_url }}" alt="DSC_8151" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8622.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8622.jpg' | relative_url }}" alt="DSC_8622" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8540.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8540.jpg' | relative_url }}" alt="DSC_8540" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8583F.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8583F.jpg' | relative_url }}" alt="DSC_8583F" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8214.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8214.jpg' | relative_url }}" alt="DSC_8214" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8565.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Joshua Tree/DSC_8565.jpg' | relative_url }}" alt="DSC_8565" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="YOSE" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9389.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9389.jpg' | relative_url }}" alt="DSC_9389" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9349.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9349.jpg' | relative_url }}" alt="DSC_9349" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2386.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2386.jpg' | relative_url }}" alt="DSC_2386" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2423.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2423.jpg' | relative_url }}" alt="DSC_2423" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9414.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9414.jpg' | relative_url }}" alt="DSC_9414" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2320.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2320.jpg' | relative_url }}" alt="DSC_2320" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2447.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2447.jpg' | relative_url }}" alt="DSC_2447" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9289.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9289.jpg' | relative_url }}" alt="DSC_9289" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2291.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2291.jpg' | relative_url }}" alt="DSC_2291" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9306.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9306.jpg' | relative_url }}" alt="DSC_9306" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2279.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2279.jpg' | relative_url }}" alt="DSC_2279" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2523.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2523.jpg' | relative_url }}" alt="DSC_2523" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2481.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2481.jpg' | relative_url }}" alt="DSC_2481" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2472.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2472.jpg' | relative_url }}" alt="DSC_2472" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9337.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9337.jpg' | relative_url }}" alt="DSC_9337" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2505.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2505.jpg' | relative_url }}" alt="DSC_2505" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2313.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2313.jpg' | relative_url }}" alt="DSC_2313" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9246.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9246.jpg' | relative_url }}" alt="DSC_9246" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9325.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9325.jpg' | relative_url }}" alt="DSC_9325" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9251.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9251.jpg' | relative_url }}" alt="DSC_9251" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2405.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_2405.jpg' | relative_url }}" alt="DSC_2405" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9342.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9342.jpg' | relative_url }}" alt="DSC_9342" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9351.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Yosemite/DSC_9351.jpg' | relative_url }}" alt="DSC_9351" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="EVER" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1462.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1462.jpg' | relative_url }}" alt="DSC_1462" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1262.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1262.jpg' | relative_url }}" alt="DSC_1262" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1199.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1199.jpg' | relative_url }}" alt="DSC_1199" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1212.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1212.jpg' | relative_url }}" alt="DSC_1212" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1164.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1164.jpg' | relative_url }}" alt="DSC_1164" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1434.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1434.jpg' | relative_url }}" alt="DSC_1434" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1346.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1346.jpg' | relative_url }}" alt="DSC_1346" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1180.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1180.jpg' | relative_url }}" alt="DSC_1180" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1383.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1383.jpg' | relative_url }}" alt="DSC_1383" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1441.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1441.jpg' | relative_url }}" alt="DSC_1441" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1080.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1080.jpg' | relative_url }}" alt="DSC_1080" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1492.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Everglades/DSC_1492.jpg' | relative_url }}" alt="DSC_1492" height=100%>
    </a>
  </div>
  
  <div class="slick-slider" id="GRSM" style="display: none;">
    <a href="{{ '/assets/NationalParksGallery/photos/Great Smoky Mountains/charlies_bunion.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Great Smoky Mountains/charlies_bunion.jpg' | relative_url }}" alt="charlies_bunion" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Great Smoky Mountains/fontana_dam.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Great Smoky Mountains/fontana_dam.jpg' | relative_url }}" alt="fontana_dam" height=100%>
    </a>
    <a href="{{ '/assets/NationalParksGallery/photos/Great Smoky Mountains/charlies_bunion_selfie.jpg' | relative_url }}">
    	<img src="{{ '/assets/NationalParksGallery/photos/Great Smoky Mountains/charlies_bunion_selfie.jpg' | relative_url }}" alt="charlies_bunion_selfie" height=100%>
    </a>
  </div>
</div>
  
<script type="text/javascript">
  
  $('.slick-slider').lazy();
  $('.embeddedYoutube').lazy();
  
  $(".slick-slider")
    .slick({
        dots: false,
        infinite: true,
        centerMode: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        variableWidth: true,
        autoplay: true,
        arrows: true,
        pauseOnHover: false,
        pauseOnFocus: false,
        draggable: false,
        initialSlide: 0,
        lazyLoad: 'ondemand'
    });

  $(".slick-slider").each(function() {
    $(this).magnificPopup({
      delegate: 'a', //:not(.slick-cloned)',
			type: 'image',
			showCloseBtn: false,
			tLoading: 'Loading image #%curr%...',
			mainClass: 'mfp-img-mobile',
			gallery: {
			  arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>',
				enabled: true,
				navigateByImgClick: true,
				tCounter: '<span class="mfp-counter"></span>',
				preload: 0 // Will preload 0 - before current, and 1 after the current image
			},
			image: {
				tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
			},
			callbacks: {
			  beforeOpen: function() {
          $('.slick-slider').slick('slickPause');
        },
        afterClose: function() {
          $('.slick-slider').slick('slickPlay');
        },
				change: function() {
					console.log(this.items.length);
          $('.slick-slider').slick('slickGoTo', (this.index-2)%((this.items.length-2)/2));
        }
			}
    });
  });
</script>
