<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

    <!--
    {% if page.layout == "post" %}
        {%- if page.authors -%}
            <title>{{ page.title }} | {{ page.authors }}</title>
        {%- else -%}
            <title>{{ page.title }} | James Kitchens</title>
        {%- endif -%}
        
        <meta name="thumbnail" content="https://james-kitchens.com{{ page.thumbnail }}"/>
        <meta property="og:image" content="{{ page.thumbnail }}" />
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    -->


    {% if page.layout == "post" %}
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@kitchensjn" />
        <meta name="twitter:description" content="{{ page.description }}" />
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/logo/logo.ico' | relative_url }}">
    <script src="https://kit.fontawesome.com/b53b88607b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{ '/assets/scripts/navbar.js' | relative_url }}"></script>
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | relative_url }}">
    
    {% if page.layout == 'home' %}
        <script language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/npm/p5@1.0.0/lib/p5.min.js"></script>
        <script src="{{ '/assets/scripts/home.js' | relative_url}}"></script>
    {% endif %}

</head>