<div id="topnav">
    
    {% if page.layout == 'home' %}
        <a class="section-title" id="Logo" href="javascript:void(0);" onclick="goTo('#home')">
            <i class="fas fa-hiking fa-lg logo" title="{{ site.name }}"></i>
        </a>
        <a class="section-title active" id="Home" href="javascript:void(0);" onclick="goTo('#home')">Home</a>
        <a class="section-title" id="Bio" href="javascript:void(0);" onclick="goTo('#bio')">Bio</a>
        {% for category in site.categories %}
            <a class="section-title" id="{{ category[0] | capitalize }}" href="javascript:void(0);" onclick="goTo( '{{ '#' | append: category[0] }}' )">{{ category[0] | capitalize }}</a>
        {% endfor %}
    {% else %}
        <a class="section-title" id="Logo" href="{{ '/#home' | relative_url }}">
            <i class="fas fa-hiking fa-lg logo" title="{{ site.name }}"></i>
        </a>
        <a class="section-title" id="Home" href="{{ '/#home' | relative_url }}">Home</a>
        <a class="section-title" id="Bio" href="{{ '/#bio' | relative_url }}">Bio</a>
        {% for category in site.categories %}
            <a class="section-title" id="{{ category[0] | capitalize }}" href="{{ '/#' | append: category[0] | relative_url }}">{{ category[0] | capitalize }}</a>
        {% endfor %}
    {% endif %}
    
    {% if site.social_links.CV.link %}
        <a class="section-title" id="CV" href="{{ site.social_links.CV.link | relative_url }}" target="_blank">CV</a>
    {% endif %}
    
    <a href="javascript:void(0);" class="burger" onclick="hamburger()">
        <i class="fa fa-bars"></i>
    </a>
    
</div>