<style>
  .content {
    box-shadow: 0 4px 8px 0 rgba(51,51,51,0.2);
    transition: 0.3s;
    color: #333333;
    text-align: center;
    height: 300px;
    overflow: hidden;
  }
  
  .content:hover {
    box-shadow: 0 8px 16px 0 rgba(51,51,51,0.2);
  }
  
  .content:hover .gif-img {
    display: block;
  }
  
  .content:hover .thumbnail-img {
    display: none;
  }
  
  .container.projects-container.rows {
    padding: 8px 8px 30px 8px;
  }
  
  .rows {
    max-width: 1000px;
    margin: auto;
  }
  
  /* Add padding BETWEEN each column */
  .rows,
  .rows > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .rows:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
</style>

<div class="container projects-container rows">
  {% for project in site.data.cards %}
    {% include {{ project.layout | default: 'left' | append: ".html" }} item=project %}
  {% endfor %}
</div>