<style>
  .content {
    box-shadow: 0 4px 8px 0 rgba(51,51,51,0.2);
    transition: 0.3s;
    color: #333333;
    height: 400px;
    text-align: center;
  }
  
  .content:hover {
    box-shadow: 0 8px 16px 0 rgba(51,51,51,0.2);
  }
  
  .row {
    margin: 10px -16px;
    max-width: 1000px;
    margin: auto;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
</style>

<div class="row">
  <div class="column nature show">
    <div class="content">
      <img src="{{ '/assets/Projects/TopoTable/logo.png' | relative_url }}" alt="TopoTable_Logo" style="width:100%">
      <h4><b>TopoTable</b></h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column nature show">
    <div class="content">
      <img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9157.jpg' | relative_url }}" alt="Lights" style="width:100%">
      <h4><b>Marine Tardigrades of the World</b></h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column nature show">
    <div class="content">
      <img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9157.jpg' | relative_url }}" alt="Nature" style="width:100%">
      <h4>Forest</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  
  <div class="column cars show">
    <div class="content">
      <img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9157.jpg' | relative_url }}" alt="Car" style="width:100%">
      <h4>Retro</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column cars show">
    <div class="content">
      <img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9157.jpg' | relative_url }}" alt="Car" style="width:100%">
      <h4>Fast</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column cars show">
    <div class="content">
      <img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9157.jpg' | relative_url }}" alt="Car" style="width:100%">
      <h4>Classic</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column people show">
    <div class="content">
      <img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9157.jpg' | relative_url }}" alt="Car" style="width:100%">
      <h4>Girl</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column people show">
    <div class="content">
      <img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9157.jpg' | relative_url }}" alt="Car" style="width:100%">
      <h4>Man</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column people show">
    <div class="content">
      <img src="{{ '/assets/NationalParksGallery/photos/Grand Canyon/DSC_9157.jpg' | relative_url }}" alt="Car" style="width:100%">
      <h4>Woman</h4>
      <p>Lorem ipsum dolor..</p>
    </div>
  </div>
</div>