
<link rel="stylesheet" type="text/css" href="/assets/blog/national-parks-gallery/library/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="/assets/blog/national-parks-gallery/library/slick/slick-theme.css"/>
<script type="text/javascript" src="/assets/blog/national-parks-gallery/library/slick/slick.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/blog/national-parks-gallery/library/magnific-popup.css"/>
<script type="text/javascript" src="/assets/blog/national-parks-gallery/library/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/assets/blog/national-parks-gallery/library/jquery.lazy-master/jquery.lazy.min.js"></script>

<style>
    .container {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        padding: 20px 50px;
        box-sizing: border-box;
        color: #333;
        background: #333;
        vertical-align: middle;
    }
    
    .slick-slider {
        text-align: center;
        color: #419be0;
        background: #333;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    .slick-list {
        height: 100%;
    }
    .slick-track {
        height: 100%;
        width: 100%;
    }
    
    .slick-slide {
        margin: 0px 10px;
    }
    
    .slick-slider img {
        cursor: pointer;
    }
    
    .navbar {
        background-color: #333;
        border: #333;
    }
    
    .gallery-photo {
        margin: 0px;
        border-radius: 0px;
    }
</style>


{% capture parks %}
    {% for image in site.static_files %}
        {% if image.path contains 'blog/upper-cherry-creek/photos' %}
            {% unless image.path contains 'small' %}
                {% assign paths = image.path | split:'/' %}
                {{ paths[5] }}
            {% endunless %}
        {% endif %}
    {% endfor %}
{% endcapture %}
{% assign uniq_parks = parks | split:' ' | uniq %}

<div style="position: relative; width:100%; margin: 25px auto; height: 500px;">
    <div id="galleryContent" class="content" style="height: 100%;">
        <div class="container" style="border-radius: 0px 0px 5px 5px;">
            <div class="slick-slider" id="ALL" style="display: block;">
                {% assign n = site.static_files | size %}
                {% assign images = site.static_files | sample: n %}
                {% for image in images %}
                    {% if image.path contains 'blog/upper-cherry-creek/photos' %}
                        {% unless image.path contains 'small' %}
                            <a href="{{ site.baseurl }}{{ image.path }}">
                                <img class="gallery-photo" src="{{ site.baseurl }}{{ image.path }}" alt="{{ forloop.index }}" height=100%>
                            </a>
                        {% endunless %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/assets/scripts/national-parks-gallery/gallery.js"></script>
</div>