@import 'post';
@import 'projects';
@import 'blog';


/* general */
* {
    margin:0;
    padding:0;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
}

p {
    margin-bottom: 10px;
    font-size: 20px;
}

.link {
    color: #BBBBBB;
    text-decoration: none;
}

.cat .background {
    display: inline-block;
    border-radius: 5px;
    background-color: #333333;
    margin: 2px 0px;
}

.cat .background .skill {
    color: #FFFFFF;
    margin: 5px;
    font-size: 15px;
}

.section {
    text-align: justify;
    padding: 75px 20% 75px 20%;
    position: relative;
    height: auto;
    overflow: hidden;
}

.arrow {
    color: #333333;
    padding-left: 2px;
}

.flip {
    transform: rotate(180deg);
    padding-left: 0px;
    padding-right: 2px;
}



/* Navigation Bar */
#topnav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333333;
    z-index: 1000;
    font-size: 20px;
}

.section-title {
    float: left;
    display: block;
    color: #BBBBBB;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 20px;
}

.section-title:link {
    color: #BBBBBB;
}

.active {
    pointer-events: none;
    cursor: default;
}

/* Mobile Dropdown Menu Burger */
.burger {
    float: left;
    display: none;
    color: #BBBBBB;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 20px;
    display: none; 
}

.burger:link, .burger:visited {
    color: #BBBBBB;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

@media screen and (max-width: 868px) {
    #topnav .section-title:not(:first-child) {
        display: none;
    }
    #topnav .burger {
        float: right;
        display: block;
    }
    #topnav.responsive {
        position: fixed;
    }
    #topnav.responsive .burger {
        position: fixed;
        right: 0;
        top: 0;
        transform: rotate(90deg);
    }
    #topnav.responsive .section-title {
        float: none;
        display: block;
        text-align: left;
    }
    #topnav.responsive .section-title:hover {
        color: #333333;
    }
}

.section-title:hover, .section-title:link,
.active:hover, .active:link, .burger:hover,
.inactive:hover {
    text-decoration: none;
}



/* home */
#home {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 600px;
    background-color: #333333;
}

#home .background {
    height: 100%;
    width: 100%;
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

#home #background {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
    min-height: 300px;
    overflow: hidden;
}

#home .textbox {
    position: absolute;
    color: #FFFFFF;
    top: 50%;
}

#home .textbox.right {
    right: 5%;
    transform: translate(0%, -50%);
    text-align: right;
}

#home .textbox.left {
    left: 5%;
    transform: translate(0%, -50%);
    text-align: left;
}

#home .textbox.center {
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media screen and (max-width: 868px) {
    #home .textbox.right, #home .textbox.left {
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

#home .title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

#home .desc {
    color: #BBBBBB;
    margin-bottom: 25px;
    font-size: 25px;
}

#home .links a {
    padding: 0px 10px;
    font-size: 3em;
    text-decoration: none;
}






/* bio */
#bio {
    color: #333333;
}

#bio .cat {
    text-align: center;
}



/* contactbar */
.contactBar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 57px;
    background-color: #333333;
    text-align: center;
    color: #BBBBBB;
    z-index: 1000;
}

.contactBar .info{
    display: inline-block;
    padding: 17px 20px;
}

@media screen and (max-width: 868px) {
    .contactBar .infoHide {
        display: none;
    }
}

.unstick {
    display: none;
}





/* 404 Page */
.rotate {
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(359deg);
}
}