<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<head>
<title>James Kitchens | National Parks Gallery</title>
</head>

<style>
  
</style>
  
<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}" style="overflow: hidden">
  
    {%- include navbar.html -%}
    
    {%- include preload.html -%}
    
    {%- include head_NPG.html -%}
    
    <div id="galleryContent" class="content" style="position: absolute; top: 53px; bottom: 0; width: 100%;">

      {%- include leafletMap.html -%}

      {%- include gallery.html -%}

    </div>
    
</body>

</html>
