<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<link rel="stylesheet" type="text/css" href="{{ '/assets/NationalParksGallery/library/magnific-popup.css' | relative_url }}"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ '/assets/NationalParksGallery/library/jquery.magnific-popup.js' | relative_url }}"></script>

<head>
  <title>James Kitchens | Projects</title>
  <style>
    .white-popup {
      position: relative;
      background: #FFF;
      padding: 20px;
      width:50%;
      min-width: 300px;
      height: 100%;
      margin: 20px auto;
    }
  </style>
  
</head>
  
<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}">
  
  {%- include navbar.html -%}
  
  <script>
    var activePage = document.getElementById("Projects");
    console.log(activePage);
    activePage.style.color = "#ffffff";
    activePage.classList.add("inactiveLink");
  </script>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      {%- include project-cards-new.html -%}

    </div>
  </main>

</body>

</html>