<!DOCTYPE html>
<html lang="en">

    {%- include head.html -%}

    <head>
        <meta http-equiv="refresh" content="5; URL=https://jkitchensf16.shinyapps.io/topotable" />
    </head>

    <body>

        {%- include navbar.html -%}

        <div style="width: 100%; height: 100%; min-height: 600px; text-align: center; padding-top: 25vh; font-size: 50px;">
            <div>
                <i class="far fa-compass fa-5x rotate" style="color: {{ site.theme_color }};"></i>
                <h1 style="font-weight: bold;">You are being redirected to the <a href="https://jkitchensf16.shinyapps.io/topotable">TopoTable Shiny Application</a> hosted on shinyapps.io</h1>
            </div>
        </div>
        
        {%- include contactbar.html -%}
        
    </body>

</html>