<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="{{ '/assets/NationalParksGallery/styles.css' | relative_url }}"/>
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ '/assets/NationalParksGallery/library/slick/slick.css' | relative_url }}"/>
  <link rel="stylesheet" type="text/css" href="{{ '/assets/NationalParksGallery/library/slick/slick-theme.css' | relative_url }}"/>
  <script type="text/javascript" src="{{ '/assets/NationalParksGallery/library/slick/slick.min.js' | relative_url }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ '/assets/NationalParksGallery/library/magnific-popup.css' | relative_url }}"/>
  <script type="text/javascript" src="{{ '/assets/NationalParksGallery/library/jquery.magnific-popup.js' | relative_url }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ '/assets/NationalParksGallery/library/leaflet/leaflet.css' | relative_url }}"/>
  <script type="text/javascript" src="{{ '/assets/NationalParksGallery/library/leaflet/leaflet.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/NationalParksGallery/library/easy-button.min.js' | relative_url }}"></script>
  <script src="https://kit.fontawesome.com/b53b88607b.js" crossorigin="anonymous"></script>
  <script src="{{ '/assets/NationalParksGallery/national_park_markers.js' | relative_url }}"></script>
  <script src="{{ '/assets/NationalParksGallery/park_boundaries.js' | relative_url }}"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
  <script type="text/javascript" src="{{ '/assets/NationalParksGallery/library/jquery.lazy-master/jquery.lazy.min.js' | relative_url }}"></script>
</head>
